/*Body Border */

html {
    border:5px solid black;
    min-height: 100vh;
}

body {
    background-image: url(../images/desert_sun_wide_web.png);
    background-repeat: repeat-y;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/* Main styling  */

main {
    min-width: 90%;
    min-height: 90vh;
    margin: 5%;
    position: relative;
}

div.row {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;  
}

.row {
    margin: 0;
}

div#content.row {
    width: 100%;
    min-height: 88%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
}

/* Header Styling */
header {
    background-color:rgb(255, 255, 255, 0.3);
    position: absolute;
    height: 12%;
    width: 100%;
}

h1 {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    font-family: 'Comfortaa', cursive;
}

/* Aside Styling */
aside {
    /* border: 5px solid blue; */
    max-height: 100%;
}
.col-md-4 {
    padding: 0;
}

label, input, button {
    font-family: 'Comfortaa', cursive;
}

div#aside {
    border: 5px solid black;
    background-image: url(../images/desert_sun_narrow_web.png);
    background-size: cover;
    height: 95%;
    margin: 5% 2.5% 0 0;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(117, 97, 79, 0.5);
}

.btn-outline-secondary {
    background-color:rgba(225, 128, 41, 0.4);
    border-color: rgba(225, 128, 41, 1);
    color: rgba(225, 128, 41, 1);
}
.btn-outline-secondary:hover {
    background-color:rgba(252, 237, 190, 0.4);
    border-color: rgba(225, 128, 41, 1);
    color: rgba(225, 128, 41, 1);
}


p#fetch-status {
    font-size: 75%;
    margin: 0;
    transform: translateY(-75%);
}

.list-group-item {
    background-color:rgb(255, 255, 255, 0.4);
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.list-group-item:hover {
    background-color:rgb(255, 255, 255, 0.6);  
}

.list-group-item:active {
    background-color:rgb(225, 128, 41, 0.4);
}

.list-group-item.active {
    background-color:rgba(225, 128, 41, 0.4);
    border-color: rgba(225, 128, 41, 1);
    font-family: 'Montserrat','Open Sans', sans-serif;
}


/* Section Styling */

section {
    /* border: 5px solid red; */
    max-height: 100%;
}

.col-md-8 {
    padding: 0;
}

h3 {
    font-family: 'Comfortaa', cursive;
}

p {
    /* background-color:rgb(255, 255, 255, 0.2); */
    font-family: 'Montserrat','Open Sans', sans-serif;
}

p>span.units {
    font-size: 80%;
}

p>span.uv-index {
    padding: 2px;
    border-radius: 5px;
}

p>span.uv-index-low {
    background-color: rgba(170, 225, 41, 0.6);
}

p>span.uv-index-moderate {
    background-color: rgba(225, 197, 41, 0.6);
}

p>span.uv-index-high {
    background-color: rgba(225, 128, 41, 0.6);
}

p>span.uv-index-vhigh {
    background-color: rgba(225, 69, 41, 0.6);
}

p>span.uv-index-extream {
    background-color: rgba(225, 41, 87, 0.6);
}

article {
    /* border: 5px solid green; */
    max-width: 100%;
    min-height: 50%;
    margin: 0;
    position: relative;
}

div.article {
    border: 5px solid black;
    /* background-color: white; */
    height: 90%;
    width: 97.5%;
    position: absolute;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(117, 97, 79, 0.5);
}

div#article-top {
    background-image: url(../images/desert_sun_sky_web.png);
    background-size: cover;
    margin: 2.5% 0 2.5% 2.5%;
}

div#article-bottom {
    background-image: url(../images/desert_sun_sand_web.png);
    background-size: cover;
    margin: 2.5% 0 0% 2.5%;
}

div.col-sm {
    background-color:rgba(225, 128, 41, 0.6);
    border: 1px solid rgba(225, 128, 41, 1);
    padding: 2px;
    margin: 2px;
}

div.row.fit-content {
    min-height:80% ;
}

h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 95%;
}

p.five-day {
    /* background-color:rgba(255, 255, 255, 0); */
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 70%;
    margin-bottom: 8px;
}

/* functions for Javascript */

.hide{
    visibility: hidden;
}